<!DOCTYPE html>
<html>
<head>
	<title>Application de prédiction de l'hépatite</title>
	 

</head>
<body>

<div> <H2> Prédiction de la mortalité par hépatite </H2></div>
  <p>à l'aide de l'apprentissage automatique </p>
  </div>
  
<div class="container" >
<form method="POST" action="/predict">
		

		          	 <!-- radioButton -->

		          	<!-- Select option -->
                    <!-- Input (number) -->

		          	 <!-- Feature Starts here- Age -->

		          	<!-- Feature Ends here -->
		          	<!-- Feature Starts here-Gender -->
		          	
		          	<!-- Feature Ends here -->
		          	<!-- Feature Starts here -Do You Take Steriods? -->
		          	
		          	<!-- Feature Starts here Do You Take Antivirals?- -->

		          	 	
		          	<!-- Feature Ends here -->
		          	<!-- Feature Starts here -->

		          	<!-- Feature Ends here -->
		          	<!-- Feature Starts here -->

		          	<!-- Feature Ends here -->
		          	<!-- Feature Starts here -->

		          	<!-- Feature Ends here -->
					<!-- Feature Starts here -->

					<!-- Feature Ends here -->

		          	 <!-- Feature Starts here -->

		          	<!-- Feature Ends here -->
		          	 <!-- Feature Starts here -->
		     
		          	<!-- Feature Ends here -->
		          	 <!-- Feature Starts here -->

		          	<!-- Feature Ends here -->
		          	 <!-- Feature Starts here -->

		          	<!-- Feature Ends here -->
		          	 <!-- Feature Starts here -->

		          	<!-- Feature Ends here -->
		          	<!-- Feature Starts here -->

		          	<!-- Feature Ends here -->
					
		</form>
	</div>

</body>
</html>