flask
virtualenv
Flask-SQLAlchemy
pytest
numpy
pandas
sklearn
asn1crypto
attrs
backcall
bleach
cryptography
cycler
decorator
defusedxml
entrypoints
idna
imbalanced-learn
imblearn
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
keyring
keyrings.alt
kiwisolver
lightgbm
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pycrypto
Pygments
pygobject
pyparsing
pyrsistent
python-dateutil
pytz
pyxdg
pyzmq
qtconsole
QtPy
scikit-learn
scipy
seaborn
SecretStorage
Send2Trash
six
terminado
testpath
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
xgboost
zipp