flask
virtualenv
Flask-SQLAlchemy
pytest
numpy
pandas
sklearn
ipykernel
ipython
ipython-genutils
ipywidgets
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
lightgbm
matplotlib
mistune
nbconvert
nbformat
notebook
imbalanced-learn
imblearn
idna
defusedxml
attrs
importlib-metadata
backcall
asn1crypto
cryptography
entrypoints
kiwisolver
MarkupSafe
pandocfilters
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pycrypto
python-dateutil
pytz
pyxdg
pyzmq
scikit-learn
scipy
seaborn
testpath
tornado
tqdm
wcwidth
webencodings
widgetsnbextension
xgboost
zipp
Werkzeug
Flask
numpy
Keras
gevent
pillow
h5py
tensorflow